.gigs_heading h1 {
  font-weight: 600;
  margin: 1rem 8rem;
  font-size: 50px;
}
.gigs{
  margin-top: 8rem;
}
.gigs_category {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  border: 3px solid black;
  background-color: #fff;
  padding-top: 1.1rem;
  padding-left: 1rem;
  margin: 4rem 6rem;
  border-radius: 10px;
}

.category_right_mob{
  display: none;
}

.gigs_category select,
.category,
.category_search,
input,
option,
.gigs_category p,
.category_right h4,
.category_right p,
.category_right button,
.category_right input {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.5rem;
}
.category_search input {
  width: 40rem;
  height: 2rem;
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.gigs_detail {
  margin-left: 2rem;
}

.gigs_details {
  display: flex;
  flex-direction: column;
}
.category_right {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  background-color: #fff;
  padding-left: 1rem;
  margin: 0rem 9rem;
  border-radius: 10px;
}

 .gigs_detail .inside{
  /* border: 3px solid black; */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.last_link{ 
  border-radius: 8px;
  padding: 4px;
  background-color: #AD021A; 
  width: auto; 
  height: auto; 
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 2rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.last_link .edit{ 
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #AD021A;
}

@media only screen and (max-width:990px){
  .gigs_heading h1{
    margin: 2rem 5% !important;
  }
  .gigs_category{
    margin: 0 2.5%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    gap: 0.5rem;
    flex-direction: column;
    width: 95%;
  }
  .gigs_category input{
    padding-left: 0;
    width: 100%;
  }
  .category{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    /* background-color: red; */
  }
  .category h4{
    background: #fff;
    font-size: 1rem;
    margin-bottom: 0;
  }
  .category select{
    font-size: 1rem !important;
  }
  .category_search{
    width: 100%;
  }
  .category .category_right_mob{
    display: flex;
    background: #fff;
    gap: 1rem;
   
  }
  .category_right_mob p{
    display: none;
  }
  .gigs_category p{
    margin-bottom: 0;
  }
  .category_right{
    display: none;
  }
  .gigs_detail{
    margin-left: 0;
  }
}